.elementor-97 .elementor-element.elementor-element-4e87c7f4 > .elementor-container{max-width:1320px;}.elementor-97 .elementor-element.elementor-element-d7a9bc6 .elementskit-section-title-wraper .elementskit-section-title{margin:0px 0px 24px 0px;font-family:"Raleway", Sans-serif;font-size:58px;font-weight:bold;line-height:73px;}.elementor-97 .elementor-element.elementor-element-d7a9bc6 .elementskit-section-title-wraper .elementskit-section-title > span{color:#000000;}.elementor-97 .elementor-element.elementor-element-d7a9bc6 .elementskit-section-title-wraper p{font-size:18px;font-weight:400;line-height:32px;margin:0px 100px 055px 0px;}.elementor-97 .elementor-element.elementor-element-d7a9bc6 > .elementor-widget-container{margin:285px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-d7a9bc6 .elementor-widget-container{transition:all 400ms;}.elementor-97 .elementor-element.elementor-element-7b527c7c .elementor-widget-container{transition:all 400ms;}.elementor-97 .elementor-element.elementor-element-6707ac39{text-align:right;}.elementor-97 .elementor-element.elementor-element-6707ac39 .elementor-widget-container{transition:all 400ms;}/* Start custom CSS for text-editor, class: .elementor-element-7b527c7c */.button1{
    color:white;
    background-color: #EBA45C;
    font-size: 18px;
    padding:10px 35px;
    text-decoration: none;
    border-radius:3px;
    font-family: Segoe UI;
     line-height: 24px;
}
.button2{
    color:white;
    background-color: #000;
    font-size: 18px;
    padding:10px 35px;
    text-decoration: none;
    border-radius:3px;
    font-family: Segoe UI;
    margin-left:23px;
    line-height: 24px;
}
.button-section :hover.button1,
.button-section :hover.button2{
    color:black;
    background-color: white;
    border:2px solid #EBA45C;
    
}/* End custom CSS */